<% if current_user %>
	<%= link_to "New Post", new_post_path %>
	<% end %>

	<% Post.all.each do |p| %>
		<p><%= p.created_at %></p>
		<p><%= p.user.email %></p>
		<p><%= p.content %></p>

		
	<% if current_user == p.user %>
		<p><%= link_to 'edit', edit_post_path(p) %></p>
		<p><%= link_to 'delete', p, method: :delete %> </p>
	<% end %>


<% if current_user && p.user != current_user %>
	<%= form_for :relationship, url: relationships_path do |f| %>
	<%= f.hidden_field :following_id, value: p.user.id %>
	<%= f.submit 'follow' %>
	<% end %>
<% end %>

		<br />
<% end %>

