<% if current_user %>

	<div>
		<p>Followed by: <%= current_user.followers.count %></p>
		<p>Following: <%= current_user.users_followed.count %></p>
	</div>

	<%= link_to "New Post", new_post_path %>
	<% end %>

	<% Post.all.each do |p| %>
		<p><%= p.created_at %></p>
		<p><%= p.user.email %></p>
		<p><%= p.content %></p>

		
	<% if current_user == p.user %>
		<p><%= link_to 'edit', edit_post_path(p) %></p>
		<p><%= link_to 'delete', p, method: :delete %> </p>
	<% end %>


<% if current_user && p.user != current_user %>
	<% @relationship = current_user.relationships.where(following_id: p.user.id).first %>

<% if @relationship.blank? %>
	<%= form_for :relationship, url: relationships_path do |f| %>
	<%= f.hidden_field :following_id, value: p.user.id %>
	<%= f.submit 'follow' %>
	<% end %>
<% else %>
	<%= link_to 'unfollow', @relationship, method: :delete %>
	<% end %>
<% end %>

		<br />
<% end %>

