<%= render partial: "new", locals: { smacktalk: @smacktalk } %>

<table class="table table-striped">
<thead>
	<tr>
		<th>User Name</th>
		<th>Subject</th>
		<th>Content</th>
		<th>Updated</th>
	</tr>
</thead>
<tbody>
<% @smacktalks.each do |smacktalk| %>
	<tr>
		<td><%= smacktalk.user.name %></td>
		<td><%= link_to(smacktalk.subject, smacktalk_path(smacktalk)) %></td>
		<td><%= smacktalk.content %></td>
		<td><%= smacktalk.updated_at %></td>
	</tr>

<% end %>
</tbody>
</table>